[Unit]
Description=Client side of an app, reciewing message once in some time

[Service]
Enviroment=DISPLAY=:0
ExecStart=/usr/bin/lan2dbus-client
Restart=always
