[Unit]
Description=Timer for lan2dbus app to recive another message

[Timer]
OnUnitInactiveSec=10s
OnBootSec=10s
Unit=lan2dbus-client.service

[Install]
WantedBy=timers.target
